#btn1{
    background-color: green;
    color: white;
    height: 29px;
    width: 119px;
    font-size: 20px;
    margin-left: 12px;
    
}

#btn2{
    background-color: green;
    color: white;
    height: 29px;
    width: 119px;
    font-size: 20px;
    margin-left: 12px;
}

#btn3{
    background-color: green;
    color: white;
    height: 29px;
    width: 119px;
    font-size: 20px;
       margin-left: 12px;
}